{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to {{ app_name }}!</h1>
    <p>Developed by: {{ developer_name }}</p>
    <p>Class: {{ class_name }}</p>

    <br />
    <a href="{% url 'create_product' %}"><button>Add New Product</button></a>

    <h2>Products:</h2>
    {% if products %}
        <ul>
            {% for product in products %}
                <li>{{ product.name }} - ${{ product.price }} - {{ product.description }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products available.</p>
    {% endif %}
{% endblock %}