<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>Welcome to {{ app_name }}!</h1>
    <p>Developed by: {{ developer_name }}</p>
    <p>Class: {{ class_name }}</p>

    <!-- <h2>Available Products:</h2>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - ${{ product.price }}<br>{{ product.description }}</li>
        {% empty %}
            <li>No products available at the moment.</li>
        {% endfor %}
    </ul> -->
</body>
</html>
